.homeSection{
    position: relative;
    padding: 10px 0px;
}
.elipseGreen{
    position: absolute;
    top: 0;
    left: 0;
}
.cyferLogo{
    margin-top: 14px;
}
.homeSectionContainer{
    max-width: 1403px;
    margin: 0 auto;
}
.homeContentContainer{
    padding: 0px 20px;
    position: relative;
}
.homeContentContainerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeContentContainerHeader ul{
    display: flex;
    gap: 18px;
}
.homeContentContainerHeader ul li{
    position: relative;
    padding: 15px 7px;
    cursor: pointer;
    font-size: 17px;
    transition: all .4s;
}
.homeContentContainerHeader ul li::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-image: linear-gradient(#9A67FF , #FFFFFF);
    transition: all .3s ease;
}
.homeContentContainerHeader ul li::after{
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-image: linear-gradient(#9A67FF , #FFFFFF);
    transition: all .3s ease;
}
.homeContentContainerHeader ul li:hover::before{
    width: 50%;
}
.homeContentContainerHeader ul li:hover::after{
    width: 50%;
}
.homeContentContainerHeader ul li:hover{
    filter: drop-shadow(0px -5px 15px  #7B38FF);
}
.cyferLogo{
    max-width: 306px;
    max-height: 80px;
}
.borderContactNowButton{
    max-width: 250px;
    width: 100%;
    height: 72px;
    background-image: linear-gradient(135deg ,#fff , #ffffff00);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(20% 0%, 100.1% 0%, 99.9% 60%, 80% 100.3%, 0% 100.3%, 0% 40%);
}
.contactNowButton{
    max-width: 248px;
    width: 100%;
    height: 69px;
    background-image: linear-gradient(135deg ,#9C6AFF , #6F26FF);
    clip-path: polygon(20% 0%, 100.1% 0%, 99.9% 60%, 80% 100.3%, 0% 100.3%, 0% 40%);
}
.homeContentContainerHeader{
    grid-area: header;
}
.homeContentContainerMain{
    grid-area: main;
    padding: 0px 20px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.homeContentContainerImage{
    grid-area: images;
    height: 100%;
    width: 100%;
    position: relative;
}
.homeContentContainer{
    position: relative;
    height: 803px;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    " header header"
    "main images";
}
.homeContentContainerMain h1{
    font-size: 69px;
}
.homeContentContainerMain p{
    font-size: 19px;
    word-spacing: 5px;
    line-height: 1.55;
}
.homeContentBtnContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contactUsButtonBorder{
    max-width: 250px;
    width: 100%;
    height: 72px;
    background-image: linear-gradient(135deg ,#fff , #ffffff00);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(20% 0%, 100.1% 0%, 99.9% 60%, 80% 100.3%, 0% 100.3%, 0% 40%);
    transition: all .3s ease;
}
.contactUsButtonBorder button{
    max-width: 248px;
    width: 100%;
    height: 69px;
    background-image: linear-gradient(135deg ,#9C6AFF , #6F26FF);
    clip-path: polygon(20% 0%, 100.1% 0%, 99.9% 60%, 80% 100.3%, 0% 100.3%, 0% 40%);
    transition:  .4s;
}
.contactUsButtonBorder:hover{
    transform: translateY(-5px);
}
.learnMoreButtonBorderHp{
    clip-path: polygon(80% 0%, 0% 0%, 0.1% 60%, 20% 100%, 100% 100%, 100% 40%);
    max-width: 250px;
    width: 100%;
    height: 72px;
    background-image: linear-gradient(135deg ,#9C6AFF , #6F26FF);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.learnMoreButtonBorderHp button{
    clip-path: polygon(80% 0%, 0% 0%, 0.1% 60%, 20% 100%, 100% 100%, 100% 40%);
    max-width: 248px;
    width: 100%;
    height: 69px;
    background-color: #11111B;
}
.learnMoreButtonBorderHp:hover{
    transform: translateY(-5px);
}
.homeContentContainerBackground{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, 0.08 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: -2;
    clip-path: polygon( 24.54% 0.00%, 33.16% 17.45%, 100% 17.45%, 100% 80.70%, 62.65% 80.82%, 53.28% 100%, 0.00% 100%, 0.00% 0.00% );
}
.artwork{
    position: absolute;
    max-width: 702px;
    max-height: 665px;
    right: -80px;
    bottom: -60px;
}
.cube{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 20px;
}
.greenElement{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 1400px;
    width: 1400px;
    transform: translate(-50% , -50%);
    background: radial-gradient(circle, rgba(143, 230, 0, 0.6) 0%, rgba(143, 230, 0, 0) 70%);
    z-index: -10;
}
.blueElement{
    position: absolute;
    border-radius: 50%;
    height: 1200px;
    width: 1200px;
    top: 0;
    left: 30%;
    z-index: -9;
    transform: translate(-50% , -50%);
    background: radial-gradient(circle, rgba(27, 27, 42, 1) 0%, rgba(27, 27, 42, 0) 70%);
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    height: 580px;
    width: 690px;
}
.vector{
    position: absolute;
    right: -120px;
    top: 45%;
    height: 130px;
    width: 130px;
    z-index: -20;
}
.purpleElement{
    position: absolute;
    right: -700px;
    bottom: -700px;
    border-radius: 50%;
    height: 1400px;
    width: 1400px;
    background: radial-gradient(circle, rgba(185, 93, 254, 0.6) 0%, rgba(185, 93, 254, 0) 70%);
    z-index: -10;
}


.burgerMenuContainer {
    position: fixed;
    background-color: rgb(0, 0, 0);
    padding: 110px 0px;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    transition: all 0.6s ease;
    z-index: 98;
    overflow: hidden;
}

.burgerMenuContainer.open {
    right: 0; 
}

.burgerMenuContainer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burgerMenuContainer ul li {
    display: flex;
    justify-content: start;
    padding: 10px 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.burgerMenuButtonContainer {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
    display: none;
}
.burgerMenuButton{
    z-index: 99;
}

.burgerMenuButtonContainer .burgerMenuButton,
.burgerMenuButtonContainer:after,
.burgerMenuButtonContainer:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0px;
    transition: all 0.4s;
}

.burgerMenuButtonContainer.active:before {
    transform: rotate(45deg) translateY(6px) translateX(7px);
}

.burgerMenuButtonContainer.active:after {
    transform: rotate(-45deg) translateY(-6px) translateX(7px);
}

.burgerMenuButtonContainer.active .burgerMenuButton {
    opacity: 0; 
}


@media (max-width: 1403px) {
    .homeContentContainer{
        position: relative;
        height: 803px;
        padding: 0px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        " header header"
        "main main";
    }
    .homeContentContainerImage{
        display: none;
    }
    .homeContentContainerBackground{
        display: none;
    }
    .homeContentHeaderNav{
        display: none !important;
    }
    .burgerMenuButtonContainer{
        display: block;
    }
    .borderContactNowButton{
        display: none;
    }
}
@media (max-width:750px) {
    .homeContentContainerMain h1{
        font-size: 36px;
    }
    .homeContentContainer{
        padding: 20px;
    }
    .homeContentBtnContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeContentContainerMain p{
        font-size: 15px;
    }
    .contactUsButtonBorder{
        max-width: 250px;
        width: 100%;
        height: 72px;
        background-image: linear-gradient(135deg ,#fff , #ffffff00);
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: none;
        transition: all .3s ease;
    }
    .contactUsButtonBorder button{
        clip-path: none;
    }
    .learnMoreButtonBorderHp{
        clip-path: none;
    }
    .learnMoreButtonBorderHp button{
        clip-path: none;
    }
    .cyferLogo{
        height: 40px;
    }
}
